<div ng-switch="vm.registrationDone">
  <div ng-switch-default>
    <accordion close-others="true">
      <accordion-group is-open="status.open">
        <accordion-heading>
          <small><a href="#">Not yet a member? Create an account. <i class="pull-right glyphicon"
                                                                     ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></a>
          </small>
        </accordion-heading>
        <span class="help-block">Fill out the form below. We'll send a verification link to your email. Click on it and you're good to go!</span>

        <form name="createUser" class="form-register" ng-submit="vm.registerUser()">

          <div class="form-group has-feedback" ng-class="createUser.$error.usedEmail && 'has-error'">
            <label for="newEmail" class="control-label">Email address<span
                    ng-show="createUser.$error.usedEmail"> already used</span></label>
            <input type="email" id="newEmail" class="form-control" placeholder="Email address" new-email
                   strict-email ng-model="vm.newUser.email" name="newEmail" required
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
                   aria-describedby="emailCheck"
                    >
            <i ng-show="createUser.$pending.usedEmail || createUser.$error.usedEmail" class="form-control-feedback fa"
               ng-class="createUser.$pending.usedEmail &&'fa-spinner fa-pulse' || 'fa-times'"></i>
            <span id="emailCheck" class="sr-only"></span>
          </div>
          <div class="form-group has-feedback" ng-class="createUser.newName.$error.validator && 'has-error'">
            <label for="newName" class="control-label">Name<span
                    ng-show="createUser.newName.$error.validator"> too short</span></label>
            <input id="newName" name="newName" ng-model="vm.newUser.name" class="form-control" placeholder="Name"
                   ui-validate=" '$value.length >=3 || !$value' "
                   aria-describedby="nameLength" required>
            <i ng-show="createUser.newName.$error.validator"
               class="form-control-feedback fa fa-times"></i>
            <span id="nameLength" class="sr-only"></span>
          </div>

          <label for="newPassword">Password</label>
          <input type="password" id="newPassword" name="newPassword" ng-model="vm.newUser.password" class="form-control"
                 placeholder="Password" ng-model="regPassword"
                 required>
          <span class="help-block">Password strength</span>
          <password-strength ng-model="vm.newUser.password" val="strength"></password-strength>
          <div class="form-group has-feedback" ng-class="createUser.repeatNewPassword.$error.validator && 'has-error'">
            <label for="repeatNewPassword" class="control-label">Repeat password<span
                    ng-show="createUser.repeatNewPassword.$error.validator"> didn't match</span></label>
            <input type="password" id="repeatNewPassword" name="repeatNewPassword" ng-model="repeatNewPassword"
                   class="form-control" placeholder="Re-type your password"
                   ui-validate=" '$value==vm.newUser.password' "
                   ui-validate-watch=" 'vm.newUser.password' "
                   aria-describedby="passwordMatch"
                   required>
            <i ng-show="createUser.repeatNewPassword.$error.validator"
               class="form-control-feedback fa fa-times"></i>
            <span id="passwordMatch" class="sr-only"></span>
          </div>
          <button class="btn btn-primary btn-block" type="submit"
                  ng-disabled="strength < 2 || !createUser.$valid||createUser.$error.usedEmail || createUser.$error.email || createUser.$pending.usedEmail">
            Create account
          </button>
        </form>


      </accordion-group>
    </accordion>
    <p><span> Or you could:</span></p>
    <a class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
    <a class="btn btn-block btn-social btn-google">
      <i class="fa fa-google"></i> Sign in with Google
    </a>
    <a class="btn btn-block btn-social btn-twitter">
      <i class="fa fa-twitter"></i> Sign in with Twitter
    </a>
  </div>

  <div ng-switch-when="true" style="text-align: center">
    <h4>A confirmation email has been sent. Please check your mail and click on the verification link.</h4>
    <br/>

    <h4>Happy browsing!</h4>
  </div>
</div>