<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travler</title>
  <base href="https://www.travler.com">
  <script type="text/javascript" ng-if="false">
    (function () {
      var ca = document.cookie.split(';');
      var found = false;
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1);
        if (c.indexOf("sessionToken=") == 0) {
          found = true;
        }
      }
      if (!found) {
        window.location.href = "https://" + window.location.host + "/signin.html#/?next=" + window.location.hash.substr(1);
      }
    })();
  </script>

  <!-- build:css styles/index.css -->
  <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="styles/compiled-bootstrap/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="styles/raw/main.css"/>
  <link rel="stylesheet" type="text/css" href="styles/raw/nprogress.css"/>
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-rangeslider/angular.rangeSlider.css">
  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script data-main="modules/main" src="require.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController as nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Travler</a>

      <p class="navbar-text"><a class="navbar-link" href="#"><strong>blablagiggles</strong></a></p>
      <!-- max 13 -->
    </div>
    <div id="navbar" class="navbar-collapse" collapse="nav.isCollapsed" style="overflow: hidden">
      <!--<ul class="nav navbar-nav">-->
      <!--<li>-->
      <!--<div style="padding-left: 10px;padding-right: 10px">-->
      <!--<button type="button" class="btn btn-primary navbar-btn form-control"><i class="fa fa-plus"></i> Ping-->
      <!--</button>-->
      <!--</div>-->
      <!--</li>-->
      <!--</ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown text-center" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle role="button">
            About
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="text-center"><a href="#">Contact us</a></li>
            <li class="text-center"><a href="#">About the site</a></li>
          </ul>
        </li>
        <li class="text-center"><a href="#" ng-click="nav.logout()">Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div style="display:table;" class="form-group input-group">
          <input type="text" autofocus="autofocus" autocomplete="off" placeholder="Search..." name="search" style=""
                 class="form-control">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown text-center" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle role="button">
            Categories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="text-center"><a href="#">Nature</a></li>
            <li class="text-center"><a href="#">Cities</a></li>
            <li class="text-center"><a href="#">Food Joints</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="map-container" class="animate-slide" ng-show="mc.showMap" ng-controller="MapController as mc">
  <div>
    <span ng-cloak ng-show="mc.placingMarker" class="map-tip">Click anywhere on the map</span>
    <button id="add-marker-button" ng-cloak type="button" ng-click="mc.placingMarker=true" ng-disabled="mc.placingMarker"
            class="btn btn-primary"
            ><span
            class="glyphicon glyphicon-plus"></span> Place a marker
    </button>
  </div>

  <button ng-cloak id="place-marker-button" follow-pointer="!mc.showCreateButton" follow-pointer-canvas="'#map'"
          ng-hide="!mc.showCreateButton" type="button"
          class="btn btn-primary triangle-isosceles"
          style="background-color:#005a38;position:fixed; z-index: 1000"
          ng-click="mc.createMicroBlog()"
          ><span
          class="glyphicon glyphicon-flag"></span> Right here!
  </button>
  <div id="map">
    <ui-gmap-google-map
            options="mc.mapProperties.options"
            center='mc.mapProperties.center'
            zoom='mc.mapProperties.zoom'></ui-gmap-google-map>
  </div>
  <div>
    <div style="height:3px;width: 100%;background-color: #007448;" ng-show="mc.ready"></div>
    <button id="show-map-btn" style="border-top: 0;" type="button" class="btn btn-primary btn-show-map"
            ng-show="mc.ready" ng-click="mc.showMap = !mc.showMap">
      Show Map
    </button>
  </div>
</div>
<div id="content" class="container" style="padding-top:51px;">
  <hr/>
  <div ng-view></div>
</div>
</body>
</html>