<div class="modal-header">
  <h3 class="modal-title">Mark your blog</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="files">Pictures</label>

      <div id="files" class="well">
        <div>
          <div style="float:right;">
            <button ng-click="btn_clean()">Remove all</button>
          </div>
          <input type="file" file-read="cbc.files" multiple/>
        </div>
        <div ng-repeat="file in cbc.files"
             style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
          <div><span ng-bind="file.name"></span>

            <div style="float:right;"><span ng-bind="file.humanSize"></span><a ng-click="btn_remove(file)"
                                                                               title="Remove from list to be uploaded"><i
                    class="icon-remove"></i></a></div>
          </div>
          <progress style="width:400px;" value="{{file.loaded}}" max="file.size"></progress>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" class="form-control" placeholder="Title" autofocus>
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
    <textarea id="summary" class="form-control" placeholder="Title" autofocus>
      </textarea>
    </div>
    <div class="form-group">
      <label for="link">Link to your blog</label>
      <input id="link" class="form-control" placeholder="http://" autofocus>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>